body{
  color: #5D4258;
}

.header {
  width: 50%;
}

#container header div.top-menu{
  padding: 15px 0px;
}

#container header div.top-menu ul{
  margin: 0px 5px;
}

.sidebar-toggle-box {
  padding-right: 10px;
}

.sidebar-toggle-box > .fa-bars{
  color: white;
}

section.sidebar-closed .sidebar-toggle-box > .fa-bars,
section.sidebar-closed .header .logo{
  color: #5D4258;
}


#sidebar {
  background: #5D4258!important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  z-index: 1001;
}

ul.top-menu > li > a {
  color: #5D4258;
  border: 1px solid #5D4258!important;
}

.bg-theme {
  background-color: #5D4258!important;
}

.btn-theme {
  background-color: #5D4258!important;
  border-color: #5D4258!important;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:focus /*,ul.sidebar-menu li a:hover*/ {
background: #A55796!important;
}

ul.sidebar-menu li ul.sub li a.active {
  background: #424a5d!important;
  color: white;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
background: #424a5d;
}


.pn {
  height: 290px!important;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}