#open-new-product-modal{
  left: 15px;
  top: 40px;
}

.panel-dash-item{
  
}

.panel-expanded{
  width:99%!important;
}

.sticky{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.panel-expanded .sticky .short-dash-detail, .sticky .large-dash-detail{
  display: none;
}

.panel-expanded .sticky .large-dash-detail, .sticky .short-dash-detail{
  display: block;
}


.kanban-body .pn {
  height: 150px!important;
}

.kanban-body .pn i {
  margin-top: 15px!important;
}